<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 style="text-align: center; padding-top:20%;">
        Swagger Local <a href="http://localhost:5000/api/ui">Here</a> (Run Python App Locally)
        <br> <br>
        Heroku Deployment <a href="https://h8ocbc2-milestone1-020.herokuapp.com/api/ui/">Here</a>
    </h1>
</body>
</html>                 